<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <header>
    <nav>
      <div class="logged-in">
      <% if (session.username) { %>
        <span>Hungry, <%=session.username%>?</span>
        <a href="/auth/logout" id="logout">Log out</a>
      <% } else { %>
        <a href="/#link-land" id="logout">Log in</a>
      <% } %>
      <% if (session.message && !session.logged) { %>
        <span><%= session.message %></span>
      <% } %>
      </div>
      <div class="nav-links">
        <a href="/#link-land">Home</a>
        <a href="/restaurants#link-land">Restaurants</a>
        <a href="/dishes#link-land">Dishes</a>
      </div>
    </nav>
  </header>
  <main class="index-container">
    <div class="index-header">
      <h2><%= pageTitle %></h2>