<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div class="video-container">
 <video autoplay loop muted>
    <source src="final_5d4322cf63dfd40013204288_52080.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  </div>
  <header>
    <nav>
      <div class="logged-in">
      <% if (session.username) { %>
        <span>Hello, <%=session.username%>!</span>
        <a href="/auth/logout">Log out</a>
      <% } %>
      <% if (session.message && !session.logged) { %>
        <span><%= session.message %></span>
      <% } %>
      </div>
    <a href="/dishes">Dishes</a>
    <a href="/restaurants">Restaurants</a>
  </nav>
  </header>
  <main>
    <div id ="title-div">
      <h1 id="title">Best Dish</h1>
    </div>
    <div id="index-login">
      <form action="/auth/login" method="POST">
        <h3>Login</h3>
        <input type="text" name="username" placeholder="username"></br>
        <input type="text" name="password" placeholder="password"></br>
        <input type="submit" value="Log In">
      </form>
    </div>
    <div id="index-register">
      <form action="/auth/register" method="POST">
        <h3>Register</h3>
        <input type="text" name="username" placeholder="username"></br>
        <input type="password" name="password" placeholder="password"></br>
        <input type="submit" value="Make Account">
      </form>
    </div>
  </main>
</body>
</html>