<%- include('./partials/header.ejs') %>
  <main>
    <h1 id="title">Best Dish</h1>
    <form action="/auth/login" method="POST">
      <h3>Login</h3>
      <input type="text" name="username" placeholder="username"></br>
      <input type="text" name="password" placeholder="password"></br>
      <input type="submit" value="Log In">
    </form>
    
    <form action="/auth/register" method="POST">
      <h3>Register</h3>
      <input type="text" name="username" placeholder="username"></br>
      <input type="password" name="password" placeholder="password"></br>
      <input type="submit" value="Make Account">
    </form>
  </main>
</body>
</html>