<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <header>
    <nav>
      <h1>MenuStar</h1>
      <div class="logged-in">
      <% if (username) { %>
        <span>Hello, <%=username%>!</span>
        <a href="/auth/logout">Log out</a>
      <% } %>
      <% if (message) { %>
        <span><%= message %></span>
      <% } %>
      </div>
      <a href="/dishes">Dishes</a>
      <a href="/restaurants">Restaurants</a>
      <!-- <a href="/users">Users</a> -->
    </nav>
  </header>
  <main>
    <form action="/auth/login" method="POST">
      <h3>Login</h3>
      <input type="text" name="username" placeholder="username"></br>
      <input type="text" name="password" placeholder="password"></br>
      <input type="submit" value="login">
    </form>
    
    <form action="/auth/register" method="POST">
      <h3>Register</h3>
      <input type="text" name="username" placeholder="username"></br>
      <%# <input type="text" name="email" placeholder="e-mail"></br> %>
      <input type="password" name="password" placeholder="password"></br>
      <input type="submit" value="Make Account">
    </form>
  </main>
</body>
</html>