body {
  background: #edb602a1;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0;
}

header {
  height: 3rem;
  /* position: fixed; */
}

input {
  border-radius: 7px;
  border: 1px solid rgba(49, 49, 49, 0.541);
  line-height: 20px;
  margin: 3px;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

nav {
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: #000000;
}

nav a:hover {
  color: #ED4c4c;
}

.logged-in {
  float: right;
}

.nav-links {
  float: left;
}

#title {
  font-family: 'Fredoka One', cursive;  
  font-size: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 2rem;
}

#title-div {
  width: 40%;
  margin: auto;
}