<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dishes Index</title>
</head>
<body>
  <h1>All Dishes</h1>
  <ul class="dishes">
  <% for (let i = 0; i < dishes.length; i += 1) { %>
    <li>
      <a href="/dishes/dishes[i]._id"><img src="<%= dishes[i].dishImg %>"></a>
      <a href="/dishes/dishes[i]._id"><%= dishes[i].dishName %> @ <%= dishes[i].restaurant.name %></a>
    </li>
  <% } %>
  </ul>
</body>
</html>