<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<img src="https://i.ibb.co/rmSDMtX/IMG-4605.jpg">
  <header>
    <nav>
      <div class="logged-in">
      <% if (session.username) { %>
        <span>Hello, <%=session.username%>!</span>
        <a href="/auth/logout">Log out</a>
      <% } %>
      <% if (session.message && !session.logged) { %>
        <span><%= session.message %></span>
      <% } %>
      </div>
      <a href="/">Home</a>
      <a href="/dishes">Dishes</a>
      <a href="/restaurants">Restaurants</a>
    </nav>
  </header>
    <main>
      <% if (session.logged) {%>
      <a href="/dishes/new">Create A New Dish</a>
      <% } else { %>
      <a href="/">Log in to add your dish!</a>
      <% } %> 
      <h2>List of Dishes</h2>
      <ul>
        <% for(let i = 0; i < dishes.length; i++){ %>
          <li>
            <a href="/dishes/<%=dishes[i]._id%>"><%=dishes[i].dishName%></a>
          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
