<%- include('../partials/basicheader.ejs', {pageTitle: 'New Dish'}) %>
      <form action="/dishes" method="POST">
        <label>Name of dish</label></br>
        <input type="text" name="dishName" placeholder="Dish name"></br>
        <label>Restaurant</label></br>
        <% if (restaurants.length) {%>
          <select name="restaurant">
              <% for (let i = 0; i < restaurants.length; i += 1) {%>
                <option value="<%=restaurants[i]._id%>"><%=restaurants[i].name%></option>
              <% } %>
          </select></br>
          <a href="/restaurants/new">Add new</a></br>
        <% } else { %>
          <a href="/restaurants/new">Add a restaurant</a>
        <% } %></br>
        <label>Image link</label></br>
        <input type="text" name="dishImg" placeholder="Paste URL here"></br>
        <label>Cost</label></br>
        <input type="text" name="cost" placeholder="Price in USD"></br>
        <label>Description</label></br>
        <textarea name="dishDescribe" placeholder="Why do you love this dish?"></textarea></br>
        <input type="submit" value="Submit">
      </form>
    </main>
  </body>
</html>