<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users Index</title>
</head>
  <header>
    <h1>Users</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/dishes">Dishes</a>
        </li>
        <li>
          <a href="/restaurants">Restaurants</a>
        </li>
      </ul>
    </nav>
  </header>   
  <body>
    <h1>All Users</h1>
    <ul class="users">
    <% for (let i = 0; i < users.length; i += 1) { %>
      <li>
        <a href="/users/users[i]._id"><%= users[i].username %></a>
      </li>
    <% } %>
    </ul>
  </body>
</html>