<%- include('../partials/header.ejs') %>  
    <main>
      <h1>All Users</h1>
      <ul class="users">
      <% for (let i = 0; i < users.length; i += 1) { %>
        <li>
          <a href="/users/users[i]._id"><%= users[i].username %></a>
        </li>
      <% } %>
      </ul>
    </main>
  </body>
</html>