<%- include('../partials/header.ejs') %>  
    <main>
      <h3><%= user.username %>'s Favorite Dishes</h3>
      <ul>
        <% for (let i = 0; i < user.favDishes.length; i += 1) { %>
        <ul>
          <li>Dish name: <a href="/dishes/<%=user.favDishes[i]._id%>"><%= user.favDishes[i].dishName %></a></li>
        </ul>
        <% } %>
      </ul>
    </main>
  </body>
</html>