<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Restaurant</title>
  </head>
  <body>
    <header>
      <h1><%= restaurant.name %></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dishes">Dishes</a>
          </li>
          <li>
            <a href="/users">Users</a>
          </li>
        </ul>
      </nav>
    </header>    
    <main>
      <h2>Edit Restaurant</h2>
      <form action="/restaurants/<%= restaurant._id %>" method="POST">
        <label>Restaurant name:</label></br>
        <input type="text" name="name" value="<%= restaurant.name %>"></br>
        <label>Location:</label></br>
        <input type="text" name="location" value="<%= restaurant.location %>"></br>
        <input type="submit" value="Submit">
      </form>
    </main>
  </body>
</html>