<%- include('../partials/header.ejs') %>   
    <main>
      <h2>Edit Restaurant</h2>
      <form action="/restaurants/<%=restaurant._id%>?_method=PUT" method="post">
        <label>Restaurant name:</label></br>
        <input type="text" name="name" value="<%= restaurant.name %>"></br>
        <label>Location:</label></br>
        <input type="text" name="location" value="<%= restaurant.location %>"></br>
        <input type="submit" value="Submit">
      </form>
    </main>
  </body>
</html>