<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
 <video autoplay loop muted>
    <source src="final_5d422582a6363a0014c9fbc0_818152.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <header>
    <nav>
      <div class="logged-in">
      <% if (session.username) { %>
        <span>Hungry, <%=session.username%>?</span>
        <a href="/auth/logout" id="logout">Log out</a>
      <% } %>
      <% if (session.message && !session.logged) { %>
        <span><%= session.message %></span>
      <% } %>
      </div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/dishes">Dishes</a>
      </div>
    </nav>
  </header>
  <main class="index-container">
    <div class="index-header">
      <h2>Restaurants</h2>
  
    <div id="restaurants-index-container">
      <% if (session.logged) {%>
        <a href="/restaurants/new">Add a restaurant</a>
        <% } else { %>
        <a href="/">Log in to add a restaurant!</a>
        <% } %> 
      <ul class="restaurants">
      <% for (let i = 0; i < restaurants.length; i += 1) { %>
        <li>
          <a href="/restaurants/<%=restaurants[i]._id%>"><%= restaurants[i].name %></a></br>
        </li>
      <% } %>
      </ul>
    </div>
  </main>
</body>
</html>