<%- include('../partials/basicheader.ejs') %>   
    <main>
      <h1>Add a restaurant</h1>
      <form action="/restaurants" method="POST">
        <label>Name of restaurant:</label></br>
        <input type="text" name="name"></br>
        <label>Location:</label></br>
        <input type="text" name="location"></br>
        <input type="submit" value="Add">
      </form>
    </main>
  </body>
</html>