<%- include('../partials/basicheader.ejs', {pageTitle: 'Add a Restaurant'}) %>   
    <main>
      <form action="/restaurants" method="POST">
        <label>Name of restaurant</label></br>
        <input type="text" name="name"></br>
        <label>Location</label></br>
        <input type="text" name="location"></br>
        <input type="submit" value="Add">
      </form>
    </main>
  </body>
</html>