<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants Index</title>
  </head>
  <body>
    <header>
      <h1>Restaurants</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/restaurants">Restaurants</a>
          </li>
          <li>
            <a href="/users">Users</a>
          </li>
        </ul>
      </nav>
    </header>    
    <main>
      <form action="/restaurants" method="POST">
        <label>Name of restaurant:</label></br>
        <input type="text" name="name"></br>
        <label>Location:</label></br>
        <input type="text" name="location"></br>
        <input type="submit" value="Add">
      </form>
    </main>
  </body>
</html>